data/doc.dtd

<?xml version="1.0" ?>
<!DOCTYPE doc [
<!ELEMENT document (author+,title,date)>
<!ELEMENT author (name,org?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT org (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT date (created,updated?)>
<!ELEMENT created (month,day,year)>
<!ELEMENT updated (month,day,year)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT year (#PCDATA)>
]>
