data/doc.dtd

<!DOCTYPE document
[
<!ELEMENT document (author,title,date,)>
<!ELEMENT author (name,org)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT date (created,updated)>
<!ELEMENT created (month,day,year)>
<!ELEMENT updated (month,day,year)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT year (#PCDATA)>
]>
